<fieldset>
    <legend>Login</legend>
    
    <% if (messages.error) { %>
    <%= messages.error %>
    <% } %>
    
    <form method="POST" action="/login">
        <label>Email</label>
        <input type="email" id="email" name="email">
        
        <br><br>
        <label>Password</label>
        <input type="password" id="password" name="password">

        <br><br>
        <button type="submit" value="Login">Login</button>
        <br><br>

        <a href="/register">Register</a>
    </form>
</fieldset>