<fieldset>
    <legend>Register</legend>
    <form method="POST" action="/register">
        <label>Name</label>
        <input type="text" id="name" name="name">

        <br><br>
        <label>Email</label>
        <input type="email" id="email" name="email">

        <br><br>
        <label>Password</label>
        <input type="password" id="password" name="password">

        <br><br>
        <button type="submit" value="Register">Register</button>

        <br><br>
        <a href="/login">Login</a>
    </form>
</fieldset>