html 
    head 
    body 
        form(action="/insert" method="POST") 
            p 
                | p_id 
                input(type="number" name="p_id" value="")
                br
                br
                | p_name 
                input(type="text" name="p_name" value="")
                br
                br
                | p_cost 
                input(type="number" name="p_cost" value="")
                br
                br
            input(type="submit" value="submit")